#home {
    position: relative;    
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }

    p {
        color: var(--text-color);
        font-size: 12pt;; 
    }

    h2 {
        padding-top: 2rem;
        font-weight: 400;
        font-size: 26pt;
        color: rgb(100, 100, 100);

        @media screen and (max-width: 1200px) {
            font-size: 18pt;
        }
    }

   
}



.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 400px) {
        padding: 6rem 1rem 2rem;
    }

    h1 {
        font-size: 56px;    
        border-right: .1em solid #bea168;

        @media screen and (max-width: 1200px) {
            font-size: 36px;
        }        
    }
}



.box {
    width: 200px;
    height: 200px;
    background: rgba(210,210,210,1);

    @media screen and (max-width: 1200px ){
        width: 90px;
        height: 90px;
    }
}

.app__header-info {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 2000px) {
        width: 100%;
        margin-right: 0rem;
    }

    
}

.app__header-badge {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    padding-bottom: 1rem;
    padding-top: 1rem;

    .badge-cmp, .tag-cmp {
        padding: 1rem 1rem;
        border: var(--text-color);
        
        border-radius: 15px;
        flex-direction: column;
        width: auto;

    }

    @media screen and (max-width: 1200px){
        justify-content: center;
        align-items: center;
        
    }

}


.app__header-img {
    flex: 1;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 100%;
        object-fit: contain;
        z-index: 1;
    }

    .overlay_circle {
        position: absolute;
        
        width: 750px;
        height: 750px;

        @media screen and (max-width: 1200px ){
            width: 450px;
            height: 450px;
        }
        
    }
}